<div>
  <a routerLink="/admin/products/new" class="btn btn-primary"> New Product </a>
</div>
<input #query (keyup)="filter(query.value)" type="text" name="search" placeholder="Search..." class="form-control">
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products$">
        <th scope="row">{{ product.title }}</th> 
        <td>{{ product.price }}</td>
        <td>
          <a [routerLink]="['/admin/products/', product.key]">Edit</a> /
          <a (click)="delete(product.key)">Delete</a>
        </td>
      </tr>
  </table>
  <!-- <data-table
    [item] = "items"
    [itemCount] = "itemCount"
    (reload) = reloadItems($event)
  >
  <data-table-column 
    [property] = "title"
    [header] = "'Title'" 
    [sortable] = true
    [resizable] = true
  >
  </data-table-column>
  <data-table-column 
    [property] = "price"
    [header] = "'Price'" 
    [sortable] = true
    [resizable] = true
  >
  <ng-template #dataTableCell let-item="product">
    {{ product.price | currency: 'USD'}}
  </ng-template>
  </data-table-column>

  <data-table-column 
    [property] = "key"
  >
  <ng-template #dataTableCell let-item="product">
   
  </ng-template>
  </data-table-column>
    <a [routerLink]="['/admin/products/', product.key]">Edit</a> /
    <a (click)="delete(product.key)">Delete</a>
  </data-table> -->
</div>